
@media screen and (max-width: 1000px) {
  .header {
    position: relative;
  }
  .navigation {
    position: absolute;
    top: 12vh;
    left: 0;
    display: block;
    width: 100%;
    padding: 2rem 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
  }
  .navigation.active {
    transform: translateX(0%);
  }
  .nav_item {
    padding: 1rem;
    display: block;
  }
  .burger {
    display: block;
  }
  .home .content {
    grid-template-columns: 1fr;
  }
  .home .row {
    grid-template-columns: 1fr;
  }
  .home_item{
    padding: 0.2rem;
  }
  .home_item .inner{
    transform: translate(-50%, -50%);
    min-height: 90%;
    min-width: 90%;
  }
  .home .hover_text p{
    display: block;
  }
  .home_item h1 {
    font-size: 1.5rem !important;
  }
  
  .slider-wrapper .btn{
    display: none;
  }
  .slider-wrapper .slider-inner {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
  .explore .row,
  .explore .content{
    grid-template-columns: 100%;
  }
  .explore .row .text{
    padding: 3rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 500px) {
  .slider-wrapper .slider-inner {
    grid-auto-columns: 100%;
  }
  
  .home_item h1{
    font-size: 4rem !important;
  }
  .home_item h2{
    font-size: 3rem;
  }
  .home_item p{
    font-size: 1.2rem;
  }
  .home_item .inner{
    transform: translate(-50%, -50%);
    min-height: 70%;
    min-width: 70%;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1000px) {
  .home .hover_text p {
    display: none;
  }
}