/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,300;1,400&display=swap');/* Core styles */
/* Core styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}   
body{
    overflow-x: hidden;
}
/* Loader section styles */
.loader{
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all .4s ease-in-out;
}
.img_load{
    width: 40px;
    object-fit: cover;
}
/* //Loader section styles */